#loading_animation div {
	background-color: red;
}

#an_deuce {
	position: absolute;
	animation-name: deuce;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

#an_deuce .deuce_head {
	position: absolute;
	left: 1.5vw;
	width: 5vw;
	height: 5vw;
}

#an_deuce .deuce_torso {
	position: absolute;
	top: 5vw;
	left: 1.5vw;
	width: 5.1vw;
	height: 10vw;
}

#an_deuce .deuce_arm {
	position: absolute;
	width: 8vw;
	height: 2.2vw;
	top: 7vw;
	left: 3vw;
	transform: rotateZ(25deg);
}

#an_deuce .deuce_leg_l {
	position: absolute;
	width: 2.5vw;
	height: 7vw;
	top: 13.5vw;
	left: 0vw;
	bottom: -5.5vw;
	transform: rotateZ(35deg);
}

#an_deuce .deuce_leg_r {
	position: absolute;
	width: 2.5vw;
	height: 7vw;
	left: 6vw;
	top: 13.5vw;
	bottom: -5.5vw;
	transform: rotateZ(-35deg);
}

#block_1 {
	position: absolute;
	width: 10vw;
	height: 10vw;
	top: 22vw;
	animation-name: blocks;
	animation-duration: 0.5s;
	animation-delay: 0.2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#block_2 {
	position: absolute;
	width: 10vw;
	height: 10vw;
	top: 22vw;
	left: 18vw;
	animation-name: blocks;
	animation-duration: 0.5s;
	animation-delay: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#block_3 {
	position: absolute;
	width: 10vw;
	height: 10vw;
	top: 22vw;
	left: 36vw;
	animation-name: blocks;
	animation-duration: 0.5s;
	animation-delay: 1.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes blocks {
	0% {
		top: 22vw;
	}

	100% {
		top: 24vw;
	}
}

@keyframes deuce {
	0% {
		left: 0vw;
		top: 0vw;
	}

	30% {
		left: 2vw;
		top: 4vw;
	}

	45% {
		left: 9vw;
		top: 0.5vw;
	}

	60% {
		left: 20vw;
		top: 4vw;
	}

	75% {
		left: 27vw;
		top: 0.5vw;
	}

	90% {
		left: 38vw;
		top: 4vw;
	}

	100% {
		left: 45vw;
		top: 0.5vw;
	}
}